<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="/src/css/project.css">
</head>
<body class="projects_body">
  <div class="projects_container">
 <h2 class="projects_visually-hidden" id="projects">PROJECTS</h2>
    <div class="swiper mySwiper projects_swiper">
    <div class="projects_swiper-wrapper">
      <div class="projects_swiper-slide">
        <div class="projects_swaper-first-part">
          <ul class="projects_lang-list">
              <li class="projects_lang-list-part">#react</li>
              <li class="projects_lang-list-part">#js</li>
              <li class="projects_lang-list-part">#node.js</li>
              <li class="projects_lang-list-part">#git</li>
          </ul>
      <div class="projects_content">
        <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
        <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
          <button type="submit" class="See_projects-button">See project</button>
        </form>
      </div>
    </div>
      <div class="projects_swaper-second-part">
        <div class="projects_picture-container">
          <picture>
            <source srcset="/src/img/projects/read-journey.png 1x,/src/img/projects/read-journey@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
            <img srcset="/src/img/projects/read-journey-mob@2.png 2x" src="/src/img/projects/read-journey-mob.png" width="311" height="195" alt="read-journey">
          </picture>
      </div>
      </div>
      </div>
      <div class="projects_project-swiper-slide">
        <div class="projects_swaper-first-part">
          <ul class="projects_lang-list">
              <li class="projects_lang-list-part">#react</li>
              <li class="projects_lang-list-part">#js</li>
              <li class="projects_lang-list-part">#node.js</li>
              <li class="projects_lang-list-part">#git</li>
          </ul>
      <div  class="projects_content">
        <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
        <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
          <button type="submit" class="See_projects-button">See project</button>
        </form>
      </div>
      </div>
      <div class="projects_swaper-second-part">
        <div class="projects_picture-container">
          <picture>
            <source srcset="/src/img/projects/petlove.png 1x,/src/img/projects/petlove@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
              <img srcset="/src/img/projects/petlove-mob@2.png 2x" src="/src/img/projects/petlove-mob.png" width="311" height="195" alt="petlove">
          </picture>
       </div>
      </div>
      </div>
      <div class="projects_swiper-slide">
        <div class="projects_swaper-first-part">
            <ul class="projects_lang-list">
                <li class="projects_lang-list-part">#react</li>
                <li class="projects_lang-list-part">#js</li>
                <li class="projects_lang-list-part">#node.js</li>
                <li class="projects_lang-list-part">#git</li>
            </ul> 
        <div  class="projects_content">
          <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
          <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
            <button type="submit" class="See_projects-button">See project</button>
          </form>
        </div>
      </div>
        <div class="projects_swaper-second-part">
          <div class="projects_picture-container">
            <picture>
              <source srcset="/src/img/projects/vocabbuilder.png 1x,/src/img/projects/vocabbuilder@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
            <img srcset="/src/img/projects/vocabbuilder@2.png x2" src="/src/img/projects/vocabbuilder-mob.png" width="311" height="195" alt="vocabbuilder">
            </picture>
        </div>
        </div>
      </div>
    </div>
    <div class="projects_arrows">
      <svg class="projects_icon-arrow-right">
        <use href="/src/img/projects/project-sprite.svg#icon-arrow-left" class="projects_arrow"></use>
      </svg>
      <svg class="projects_icon-arrow-left">
        <use href="/src/img/projects/project-sprite.svg#icon-arrow-right" class="projects_arrow"></use>
      </svg>
    </div>
  </div>
    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/src/js/projects.js"></script>
</body>
</html>