<section class="projects_body" id="projects">
 <h2 class="projects_visually-hidden">PROJECTS</h2>
    <div class="swiper ProjectsSwiper projects_swiper">
    <div class="projects_swiper-wrapper">
      <div class="projects_swiper-slide">
        <div class="projects_swaper-first-part">
          <ul class="projects_lang-list">
              <li class="projects_lang-list-part">#react</li>
              <li class="projects_lang-list-part">#js</li>
              <li class="projects_lang-list-part">#node.js</li>
              <li class="projects_lang-list-part">#git</li>
          </ul>
      <div class="projects_content">
        <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
        <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
          <button type="submit" class="See_projects-button">See project</button>
        </form>
      </div>
    </div>
      <div class="projects_swaper-second-part">
        <div class="projects_picture-container">
          <picture>
            <source srcset="/img/projects/read-journey.png 1x,/img/projects/read-journey@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
            <img srcset="/img/projects/read-journey-mob@2.png 2x" src="/img/projects/read-journey-mob.png" width="311" height="195" alt="read-journey">
          </picture>
      </div>
      </div>
      </div>
      <div class="projects_project-swiper-slide">
        <div class="projects_swaper-first-part">
          <ul class="projects_lang-list">
              <li class="projects_lang-list-part">#react</li>
              <li class="projects_lang-list-part">#js</li>
              <li class="projects_lang-list-part">#node.js</li>
              <li class="projects_lang-list-part">#git</li>
          </ul>
      <div  class="projects_content">
        <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
        <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
          <button type="submit" class="See_projects-button">See project</button>
        </form>
      </div>
      </div>
      <div class="projects_swaper-second-part">
        <div class="projects_picture-container">
          <picture>
            <source srcset="/img/projects/petlove.png 1x,/img/projects/petlove@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
              <img srcset="/img/projects/petlove-mob@2.png 2x" src="/img/projects/petlove-mob.png" width="311" height="195" alt="petlove">
          </picture>
       </div>
      </div>
      </div>
      <div class="projects_swiper-slide">
        <div class="projects_swaper-first-part">
            <ul class="projects_lang-list">
                <li class="projects_lang-list-part">#react</li>
                <li class="projects_lang-list-part">#js</li>
                <li class="projects_lang-list-part">#node.js</li>
                <li class="projects_lang-list-part">#git</li>
            </ul> 
        <div  class="projects_content">
          <p class="projects_swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
          <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
            <button type="submit" class="See_projects-button">See project</button>
          </form>
        </div>
      </div>
        <div class="projects_swaper-second-part">
          <div class="projects_picture-container">
            <picture>
              <source srcset="/img/projects/vocabbuilder.png 1x,/img/projects/vocabbuilder@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
            <img srcset="/img/projects/vocabbuilder@2.png 2x" src="/img/projects/vocabbuilder-mob.png" width="311" height="195" alt="vocabbuilder">
            </picture>
        </div>
        </div>
      </div>
    </div>
    <div class="projects_arrows">
      <svg class="projects_icon-arrow-right" width="24px" height="24px">
        <use href="/img/projects/project-symbol.svg#icon-arrow-left" class="projects_arrow"></use>
      </svg>
      <svg class="projects_icon-arrow-left" width="24px" height="24px">
        <use href="/img/projects/project-symbol.svg#icon-arrow-right" class="projects_arrow"></use>
      </svg>
    </div>
  </div>
</section>