<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="/src/css/project.css">
</head>
<body>
  <div class="project_container">
 <h2 class="visually-hidden ">PROJECTS</h2>
    <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swaper-first-part">
          <ul class="lang-list">
              <li class="lang-list-part">#react</li>
              <li class="lang-list-part">#js</li>
              <li class="lang-list-part">#node.js</li>
              <li class="lang-list-part">#git</li>
          </ul>
     
      <div class="project-content">
        <p class="swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
        <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
          <button type="submit" class="See_project-button">See project</button>
        </form>
      </div>
    </div>
      <div class="swaper-second-part">
        <div class="picture-container">
          <picture>
            <source srcset="/src/img/projects/read-journey.png 1x,/src/img/projects/read-journey@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
            <img srcset="/src/img/projects/read-journey-mob@2.png 2x" src="/src/img/projects/read-journey-mob.png" width="311" height="195" alt="read-journey">
          </picture>
      </div>
      </div>
      </div>
      <div class="swiper-slide">
        <div class="swaper-first-part">
          <ul class="lang-list">
              <li class="lang-list-part">#react</li>
              <li class="lang-list-part">#js</li>
              <li class="lang-list-part">#node.js</li>
              <li class="lang-list-part">#git</li>
          </ul>
      <div  class="project-content">
        <p class="swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
        <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
          <button type="submit" class="See_project-button">See project</button>
        </form>
      </div>
      </div>
      <div class="swaper-second-part">
        <div class="picture-container">
          <picture>
            <source srcset="/src/img/projects/petlove.png 1x,/src/img/projects/petlove@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
              <img srcset="/src/img/projects/petlove-mob@2.png 2x" src="/src/img/projects/petlove-mob.png" width="311" height="195" alt="petlove">
          </picture>
       </div>
      </div>
      </div>
      <div class="swiper-slide">
        <div class="swaper-first-part">
            <ul class="lang-list">
                <li class="lang-list-part">#react</li>
                <li class="lang-list-part">#js</li>
                <li class="lang-list-part">#node.js</li>
                <li class="lang-list-part">#git</li>
            </ul> 
        <div  class="project-content">
          <p class="swaper-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
          <form action="https://github.com/LobanovSK/portfolio-js-team-9" method="get" target="_blank">
            <button type="submit" class="See_project-button">See project</button>
          </form>
        </div>
      </div>
        <div class="swaper-second-part">
          <div class="picture-container">
            <picture>
              <source srcset="/src/img/projects/vocabbuilder.png 1x,/src/img/projects/vocabbuilder@2.png 2x" media="(min-width: 768px)" width="614" height="385"> 
            <img srcset="/src/img/projects/vocabbuilder-mob@2.png 2x" src="/src/img/projects/vocabbuilder-mob.png" width="311" height="195" alt="vocabbuilder">
            </picture>
        </div>
        </div>
      </div>
    </div>
    <div class="arrows">
      <svg class="icon-arrow-right">
        <use href="/src/img/projects/project-sprite.svg#icon-arrow-left" class="arrow"></use>
      </svg>
      <svg class="icon-arrow-left">
        <use href="/src/img/projects/project-sprite.svg#icon-arrow-right" class="arrow"></use>
      </svg>
    </div>
  </div>
    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/src/js/projects.js"></script>
</body>
</html>