:root {
  --background: #1c1d20;
  --text-primary: #fafafa;
  --text-secondary: #b0b0b0;
  --accent-color: #ed3b44;
  --button-hover: #c62828;
  --font-family: "Inter", sans-serif;
  --padding-global: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--text-primary);
}

p {
  color: var(--text-secondary);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Responsive Design */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}
